Repository netsampler/goflow2, pull requests merged in 2022-07, with the labels that each got.

#90 Adding field names to allow ipfix yaml mapping field to parse
  producer/reflect.go
Labels: enhancement, ipfix

#87 netflow: Add observation domain and point to message
  cmd/enricher/pb/flowext.pb.go
  format/common/text.go
  pb/flow.pb.go
  pb/flow.proto
  producer/producer_nf.go
Labels: enhancement, ipfix, proto

#11 Add BGP Next Hop field to flow message
  docs/protocols.md
  pb/flow.pb.go
  pb/flow.proto
  producer/producer_nf.go
  producer/producer_sf.go
  producer/producer_test.go
Labels: ipfix, proto, sflow
