Repository netsampler/goflow2, pull requests merged in 2022-10, with the labels that each got.

#126 Compose: updating ClickHouse and Grafana versions
  compose/kcg/clickhouse/create.sh
  compose/kcg/docker-compose.yml
  compose/kcg/grafana/Dockerfile
  compose/kcg/grafana/datasources-ch.yml
Labels: compose

#125 Fix SrcAS/DstAS for sFlow
  producer/producer_sf.go
Labels: proto, sflow

#107 socket reuse URI argument
  README.md
  cmd/goflow2/main.go
Labels: enhancement

#121 Add SASL/SCAM support to Kafka transport.
  go.mod
  go.sum
  transport/kafka/kafka.go
  transport/kafka/scram_client.go
Labels: transport

#106 fix single ip template case
  producer/producer_nf.go
Labels: bug, proto

#110 format: improve text formatter
  cmd/enricher/main.go
  cmd/enricher/pb/flowext.pb.go
  format/common/selector.go
  format/common/text.go
  pb/flow.pb.go
Labels: format

#109 proto: change protobuf definition case
  cmd/enricher/main.go
  cmd/enricher/pb/flowext.pb.go
  cmd/enricher/pb/flowext.proto
  pb/flow.pb.go
  pb/flow.proto
  producer/producer_nf.go
  producer/producer_nflegacy.go
  producer/producer_sf.go
Labels: proto
