Repository netsampler/goflow2, pull requests merged in 2023-11, with the labels that each got.

#229 Fix and optimize BasicTemplateSystem
  decoders/netflow/templates.go
Labels: ipfix, performance

#233 decoders: improve BasicTemplateSystem
  decoders/netflow/templates.go
Labels: decoders

#232 decoders: add test/benchmark
  decoders/netflow/templates_test.go
Labels: test, decoders
