Repository netsampler/goflow2, pull requests merged in 2023-12, with the labels that each got.

#238 decoder: ipfix have max size
  decoders/netflow/netflow.go
Labels: bug, decoders

#237 decoder: ipfix have max size
  decoders/netflow/netflow.go
Labels: bug, decoders

#247 docs: add performance page
  README.md
  docs/performance.md
Labels: documentation

#250 format: fix renderer on v1
  format/common/text.go
Labels: format

#246 bug: fix kafka transport default partitioning
  producer/proto/messages.go
  transport/kafka/kafka.go
Labels: transport

#225 producer: add datetime render
  cmd/goflow2/mapping.yaml
  producer/proto/render.go
Labels: producer

#239 decoders: do not stop reading sets
  decoders/netflow/ipfix.go
  decoders/netflow/netflow.go
  decoders/netflow/nfv9.go
  decoders/netflow/packet.go
Labels: bug, enhancement

#254 feat: handle panic
  cmd/goflow2/main.go
  utils/debug/debug.go
  utils/debug/decoder.go
  utils/debug/producer.go
Labels: enhancement

#252 bugfix: check etype size before decoding
  producer/proto/producer_sf.go
Labels: bug, decoders

#264 producer: increase performance of sampling rate lookup
  producer/proto/producer_nf.go
Labels: ipfix, performance
