Repository netsampler/goflow2, pull requests merged in 2023-09, with the labels that each got.

#210 producer: add missing renderer for bgp_next_hop
  docs/protocols.md
  producer/proto/render.go
Labels: producer

#212 enricher: add binary marshaller
  cmd/enricher/main.go
Labels: enricher

#208 Add workers, isBlocking and queue size to listen config
  cmd/goflow2/main.go
Labels: enhancement

#215 producer: fix fragment for NetFlow
  producer/proto/producer_nf.go
Labels: bug, ipfix, producer
